a.nav-link {
  color: black !important;
  justify-content: center;
}

.navbar-container {
  
}

.navbar-toggler {
  background-color: $primaryColor;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  // display: flex !important;
  // flex-flow: row wrap !important;
  // justify-content: center !important;
}